p {
    display: flex;
    text-align: left;
    font-size: 1rem;
    align-items: left;
    padding-left: 9rem;
    padding-bottom: 1rem;
}


.avatar {
    border-radius: 50%;
    margin-right: 20px;
    padding-left: .5rem;
    padding-top: .5rem;
    width: 100px;
    height: 100px;
}


.card {
    display: block;
    font-size: 1.5rem;
    width: 35%;
    margin: 0 auto;
    padding: 1rem 1rem; 
    border-radius: 20%;
    background-color: #1e2a47;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-top: 20px;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    font-size: .90rem;
    padding-left: 8rem;
}

.username {
    display: inline-block;
    padding: 1.75rem 1rem;
    align-content: center;
    vertical-align: top;
}

.followers {
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .card {
        width: 74%;
    }
}

@media (max-width: 480px) {
    .card {
        width: 74%;
    }

    .card-content {
        padding-left: 0;
    }

    p {
        padding-left: 0;
    }

    .avatar {
        width: 60px;
        height: 60px;
    }
    
    .username {
        padding-top: 1rem;
    }
}