.stats {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1rem;
    background-color: #141d2f;
    border-radius: .5rem;
    padding: .5rem 1rem;
    justify-content: center;
    margin-bottom: 1.75rem;
}

table {
    border-spacing: 1.5rem .35rem;
    text-align: left;
}

th {
    text-align: left;
    font-weight: 600;
    font-size: 1rem;
}

td {
    text-align: center;
    font-size: 1.35rem;
    font-weight: 600;
}

@media (max-width: 768px) {
    .stats {
        width: 80%;

    }


}

@media (max-width: 480px) {
    .stats {
        width: 78%;

    }

    table {
        border-spacing: .75rem .35rem;
    }

    th {
        font-size: 1rem;
    }

    td {
        font-size: 1rem;
    }
}