.socials {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-row: auto auto;
    grid-column-gap: 60px;
    grid-row-gap: 20px;
    width: 100%;
    font-size: 1rem;
    justify-items: left;

}

@media (max-width: 768px) {
    .socials {
        grid-template-columns: auto auto;
    }
}

@media (max-width: 480px) {
    .socials {
        display: grid;
        grid-template-columns: auto auto;
        align-items: left;
        justify-content: left;
        padding-left: 2rem;

    }
}
    
