.App {
  text-align: center;
}

.App-header {
  background-color: #141d2f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.App-link {
  color: #61dafb;
}

#light {
  background-color: #f5f8ff;
  color: #697c9a;
  transition: ease-in-out 0.25s;
  box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
}

#dark {
  transition: ease-in-out 0.25s;
}